<div class="container">
  <h2>All Tasks</h2>

  <div *ngIf="(tasks$ | async)?.length === 0">
    No tasks available.
  </div>

<mat-card
    *ngFor="let task of tasks$ | async"
    [appHighlight]="task.priority"
    style="margin-bottom:16px;"
  >
    <mat-card-title>{{ task.title }}</mat-card-title>

    <mat-card-content>
      <p>{{ task.description | slice:0:40 }}...</p>
      <p>Created: {{ task.createdAt | date:'short' }}</p>
      <p>Status: {{ task.status }}</p>
      <p>Priority: {{ task.priority }}</p>
      <p>Progress: {{ task.progress || 0 }}%</p>
      <mat-slider
  min="0"
  max="100"
  step="10"
  thumbLabel
  [disabled]="task.status === 'Completed'"
>
  <input
    matSliderThumb
    [(ngModel)]="task.progress"
    (ngModelChange)="updateProgress(task, task.progress)"
  />
</mat-slider>

<mat-progress-bar
  mode="determinate"
  [value]="task.progress || 0">
</mat-progress-bar>

    </mat-card-content>

    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        *ngIf="task.status !== 'Completed'"
        (click)="markCompleted(task)"
      >
        <mat-icon>check_circle</mat-icon>
        Complete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
